<section class="examples" aria-labelledby="title-main">
  <h2 id="title-main" class="examples__title-main">Сделали более 3.000 заказов за 2 года</h2>
  <div class="examples__info">Посмотрите фото реальных заказов из нашего instagram</div>
  <div class="examples__content">
    <ul class="examples__list">
      <li class="examples__item">
        <img src="./assets/images/raster/examples-photo-1.jpg" width="634" height="444" alt="Пример работы">
      </li>
      <li class="examples__item">
        <img src="./assets/images/raster/examples-photo-2.jpg" width="634" height="444" alt="Пример работы">
      </li>
      <li class="examples__item">
        <img src="./assets/images/raster/examples-photo-3.jpg" width="634" height="444" alt="Пример работы">
      </li>
      <li class="examples__item">
        <img src="./assets/images/raster/examples-photo-4.jpg" width="634" height="444" alt="Пример работы">
      </li>
      <li class="examples__item">
        <img src="./assets/images/raster/examples-photo-5.jpg" width="634" height="444" alt="Пример работы">
      </li>
      <li class="examples__item">
        <img src="./assets/images/raster/examples-photo-6.jpg" width="634" height="444" alt="Пример работы">
      </li>
      <li class="examples__item">
        <img src="./assets/images/raster/examples-photo-7.jpg" width="634" height="444" alt="Пример работы">
      </li>
      <li class="examples__item">
        <img src="./assets/images/raster/examples-photo-8.jpg" width="634" height="444" alt="Пример работы">
      </li>
      <li class="examples__item">
        <img src="./assets/images/raster/examples-photo-9.jpg" width="634" height="444" alt="Пример работы">
      </li>
    </ul>
  </div>
</section>
