@use '../../../styles/variables' as variables;
@use '../../../assets/scss/mixins' as mixins;

.order {
  position: relative;
  background: url("../../../assets/images/raster/catalog-decor-2.png") top 750px right 400px / 215px 221px no-repeat, url("../../../assets/images/raster/hero-decor-1.png") top 250px right 0 / 281px 281px no-repeat, url("../../../assets/images/raster/photo-image.png") left bottom / 986px 1022px no-repeat, variables.$midnight-blue;
  padding: 330px 0;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 330px;
    top: 0;
    left: 0;
    background-image: url("../../../assets/images/raster/order-decorate-top.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 330px;
    bottom: 0;
    left: 0;
    background-image: url("../../../assets/images/raster/order-decorate-bottom.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  &__content {
    display: flex;
    justify-content: end;
    padding-top: 50px;
    padding-bottom: 109px;
  }

  &__title {
    &-middle {
      max-width: 481px;
      width: 100%;
      color: variables.$text-accent-color;
      font-size: clamp(2rem, 1.3333rem + 1.3889vw, 3rem);
      font-weight: 500;
      line-height: 60px;
      letter-spacing: -1px;
      text-align: left;
      margin: 0 0 24px;
    }

    &-top {
      @include mixins.top-title(226px);

      padding: 10px 18px;
      margin: 0 0 24px;
    }
  }

  &__text {
    max-width: 500px;
    width: 100%;
    color: variables.$text-accent-color;
    font-size: clamp(0.875rem, 0.5833rem + 0.6076vw, 1.3125rem);
    font-weight: 400;
    line-height: 143%;
    letter-spacing: -0.2px;
    text-align: left;
    margin: 0 0 40px;
  }

  &__file {
    pointer-events: none;
  }

  &__label-file {
    max-width: 320px;
    width: 100%;
    display: block;
    border-radius: 8px;
    background: variables.$orange;
    padding: 30px 50px;
    border: none;
    color: variables.$text-main-color;
    font-size: 18px;
    font-weight: 500;
    line-height: 152%;
    letter-spacing: 0;
    text-align: center;
    cursor: pointer;

    &:hover {
      @include mixins.hover-button;
    }
  }

  /*  &__button {
      max-width: 320px;
      width: 100%;
      border-radius: 8px;
      background: variables.$orange;
      padding: 30px 50px;
      border: none;
      color: variables.$text-main-color;
      font-size: 18px;
      font-weight: 500;
      line-height: 152%;
      letter-spacing: 0;
      text-align: center;
      cursor: pointer;

      &:hover {
        @include mixins.hover-button;
      }
    }*/
}