<section class="order" aria-labelledby="title-main">
  <h2 id="title-main" class="order__title-main visually-hidden">Заказ по фотографии</h2>
  <div class="order__content container">
    <div class="order__title-top">Не нашли то что нужно?</div>
    <h3 class="order__title-middle">Приготовим заказ любой сложности по фото или эскизу</h3>
    <p class="order__text">Загрузите фотографию или эскиз капкейков и мы рассчитаем стоимость за 30 минут</p>
    <button class="order__button" type="button">Загрузить фотографию</button>
  </div>
</section>
