<section class="catalog" aria-labelledby="title">
  <h2 id="title" class="catalog__title-main">Для любых событий и дорогих вам людей</h2>
  <div class="catalog__content container">
    <img class="catalog__image-decor catalog__image-decor--top" src="./assets/images/raster/catalog-decor-1.png" width="258" height="256" alt=""
         role="presentation">
    <img class="catalog__image-decor catalog__image-decor--middle" src="./assets/images/raster/catalog-decor-2.png" width="215" height="221" alt=""
         role="presentation">
    <img class="catalog__image-decor catalog__image-decor--bottom" src="./assets/images/raster/catalog-decor-3.png" width="172" height="168" alt=""
         role="presentation">
    <ul class="catalog__list" role="list">
      <li class="catalog__item">
        <article class="catalog__card">
          <div class="catalog__wrapper-image">
            <img class="catalog__card-image" src="./assets/images/raster/catalog-img-1.jpg" width="380" height="245"
                 alt="Пирожное Кремовый замок">
          </div>
          <div class="catalog__wrapper-card">
            <h3 class="catalog__title-card">Кремовый замок</h3>
            <p class="catalog__text">Нежный крем любого цвета на выбор, вафельная основа</p>
            <data class="catalog__price" value="150">
              <span class="visually-hidden">Цена</span>
              150 ₽/шт.
            </data>
            <button class="catalog__button" type="button">Заказать</button>
          </div>
        </article>
      </li>

      <li class="catalog__item">
        <article class="catalog__card">
          <div class="catalog__wrapper-image">
            <img class="catalog__card-image" src="./assets/images/raster/catalog-img-2.jpg" width="380" height="245"
                 alt="Пирожное Малиновый рай">
          </div>
          <div class="catalog__wrapper-card">
            <h3 class="catalog__title-card">Малиновый рай</h3>
            <p class="catalog__text">Воздушный крем, темная основа и ягода малины</p>
            <div class="catalog__price">
              <span class="visually-hidden">Цена</span>
              150 ₽/шт.
            </div>
            <button class="catalog__button" type="button">Заказать</button>
          </div>
        </article>
      </li>

      <li class="catalog__item">
        <article class="catalog__card">
          <div class="catalog__wrapper-image">
            <img class="catalog__card-image" src="./assets/images/raster/catalog-img-3.jpg" width="380" height="245"
                 alt="Пирожное Фейерверк">
          </div>
          <div class="catalog__wrapper-card">
            <h3 class="catalog__title-card">Фейерверк</h3>
            <p class="catalog__text">Разноцветные крем, с бисквитной основой</p>
            <div class="catalog__price">
              <span class="visually-hidden">Цена</span>
              150 ₽/шт.
            </div>
            <button class="catalog__button" type="button">Заказать</button>
          </div>
        </article>
      </li>

      <!---->
      <li class="catalog__item">
        <article class="catalog__card">
          <div class="catalog__wrapper-image">
            <img class="catalog__card-image" src="./assets/images/raster/catalog-img-4.jpg" width="380" height="245"
                 alt="Пирожное Шоколадный мир">
          </div>
          <div class="catalog__wrapper-card">
            <h3 class="catalog__title-card">Шоколадный мир</h3>
            <p class="catalog__text">Ореховая стружка, нежный крем и шоколадная основа</p>
            <div class="catalog__price">
              <span class="visually-hidden">Цена</span>
              150 ₽/шт.
            </div>
            <button class="catalog__button" type="button">Заказать</button>
          </div>
        </article>
      </li>

      <li class="catalog__item">
        <article class="catalog__card">
          <div class="catalog__wrapper-image">
            <img class="catalog__card-image" src="./assets/images/raster/catalog-img-5.jpg" width="380" height="245"
                 alt="Пирожное Слезы дракона">
          </div>
          <div class="catalog__wrapper-card">
            <h3 class="catalog__title-card">Слезы дракона</h3>
            <p class="catalog__text">Нежный крем любого цвета на выбор, вафельная основа</p>
            <div class="catalog__price">
              <span class="visually-hidden">Цена</span>
              150 ₽/шт.
            </div>
            <button class="catalog__button" type="button">Заказать</button>
          </div>
        </article>
      </li>

      <li class="catalog__item">
        <article class="catalog__card">
          <div class="catalog__wrapper-image">
            <img class="catalog__card-image" src="./assets/images/raster/catalog-img-6.jpg" width="380" height="245"
                 alt="Пирожное Летняя фантазия">
          </div>
          <div class="catalog__wrapper-card">
            <h3 class="catalog__title-card">Летняя фантазия</h3>
            <p class="catalog__text">Украшения в форме сердец, для любимого человека</p>
            <div class="catalog__price">
              <span class="visually-hidden">Цена</span>
              150 ₽/шт.
            </div>
            <button class="catalog__button" type="button">Заказать</button>
          </div>
        </article>
      </li>
      <!--      -->
      <li class="catalog__item">
        <article class="catalog__card">
          <div class="catalog__wrapper-image">
            <img class="catalog__card-image" src="./assets/images/raster/catalog-img-7.jpg" width="380" height="245"
                 alt="Пирожное Мыс безумия">
          </div>
          <div class="catalog__wrapper-card">
            <h3 class="catalog__title-card">Мыс безумия</h3>
            <p class="catalog__text">Разноцветная основа, стружка и нежный крем</p>
            <div class="catalog__price">
              <span class="visually-hidden">Цена</span>
              150 ₽/шт.
            </div>
            <button class="catalog__button" type="button">Заказать</button>
          </div>
        </article>
      </li>

      <li class="catalog__item">
        <article class="catalog__card">
          <div class="catalog__wrapper-image">
            <img class="catalog__card-image" src="./assets/images/raster/catalog-img-8.jpg" width="380" height="245"
                 alt="Пирожное Облачная сказка">
          </div>
          <div class="catalog__wrapper-card">
            <h3 class="catalog__title-card">Облачная сказка</h3>
            <p class="catalog__text">Светлая основа, нежный крем со стружкой сверху</p>
            <div class="catalog__price">
              <span class="visually-hidden">Цена</span>
              150 ₽/шт.
            </div>
            <button class="catalog__button" type="button">Заказать</button>
          </div>
        </article>
      </li>

      <li class="catalog__item">
        <article class="catalog__card">
          <div class="catalog__wrapper-image">
            <img class="catalog__card-image" src="./assets/images/raster/catalog-img-9.jpg" width="380" height="245"
                 alt="Пирожное Темный рыцарь">
          </div>
          <div class="catalog__wrapper-card">
            <h3 class="catalog__title-card">Темный рыцарь</h3>
            <p class="catalog__text">Тёмная основа, нежный крем и вкусные шарики</p>
            <div class="catalog__price">
              <span class="visually-hidden">Цена</span>
              150 ₽/шт.
            </div>
            <button class="catalog__button" type="button">Заказать</button>
          </div>
        </article>
      </li>
    </ul>
  </div>
</section>
