@use '../../../styles/variables' as variables;
@use '../../../assets/scss/mixins' as mixins;

.catalog {
  &__content {
    position: relative;
    padding-bottom: 15px;
  }

  &__image-decor {
    display: block;
    position: absolute;

    &--top {
      top: 70px;
      left: -150px;
    }

    &--middle {
      top: 850px;
      right: -100px;
    }

    &--bottom {
      top: 1250px;
      left: -130px;
    }
  }

  &__title {
    &-main {
      font-size: clamp(2rem, 1.3333rem + 1.3889vw, 3rem);
      font-weight: 500;
      line-height: 60px;
      letter-spacing: -1px;
      text-align: center;
      margin: 0 0 clamp(3.125rem, 1.875rem + 2.6042vw, 5rem);;
    }

    &-card {
      margin: 0 0 12px;
      font-size: 24px;
      font-weight: 700;
      line-height: 143%;
      letter-spacing: 0;
      text-align: left;
    }
  }

  &__list {
    max-width: 1280px;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.04vmax;;
  }

  &__item {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 2px 4px 12px 0 rgb(0 0 0 / 60%);
  }

  &__wrapper {
    &-image {
      width: 100%;

      img {
        display: block;
      }
    }

    &-card {
      padding: 50px 44px;
      box-sizing: border-box;
      border-radius: 0 0 10px 10px;
      background: variables.$text-accent-color;
    }
  }

  &__card-image {
    width: 100%;
    height: auto;
  }

  &__text {
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0;
    text-align: left;
    margin: 0 0 24px;
  }

  &__price {
    display: block;
    font-size: 24px;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0;
    text-align: left;
    margin-bottom: 14px;
  }

  &__button {
    max-width: 163px;
    width: 100%;
    padding: 20px 40px;
    font-size: 18px;
    font-weight: 500;
    line-height: 155%;
    letter-spacing: 0;
    text-align: center;
    border: none;
    border-radius: 8px;
    background-color: variables.$orange;
    transition: transform 0.3s ease,
    background-color 0.3s ease;
    cursor: pointer;

    &:hover {
      @include mixins.hover-button;
    }
  }
}