<footer class="footer" role="contentinfo">
    <div class="footer__content container">
        <nav class="footer__nav" role="navigation">
            <ul class="footer__list">
                <li class="footer__item">
                    <a class="footer__link" href="#">Согласие на обработку данных</a>
                </li>
                <li class="footer__item">
                    <a class="footer__link" href="#">Служба поддержки</a>
                </li>
                <li class="footer__item">
                    <a class="footer__link" href="#">Политика конфиденциальности</a>
                </li>
            </ul>
        </nav>
        <small class="footer__copyright">© nazvaniesaita.ru, 2054 | Название компании или ИП ОГРН 0000000000000</small>
    </div>
</footer>
