// ===== COLOR =====

$blueish-white: rgb(242 246 250 / 100%);
$midnight-blue: rgb(8 17 48 / 100%);
$orange: rgb(254 216 76 / 100%);
$blue: rgb(93 106 251 / 100%);
$text-main-color: rgb(46 54 62 / 100%);
$text-accent-color: rgb(255 255 255 / 100%);
$frosted: rgb(194 198 208 / 6%);
$arctic-frost: rgba(226, 234, 242, 1);
$stone: rgb(166 174 182 / 100%);
$sky-blue: rgb(74 148 255 / 100%);

/* Фон */

/* Компоненты */

// ===== TYPOGRAPHY =====

$font-family-primary: 'Montserrat', sans-serif;
