<section class="make-order" aria-labelledby="title-main">
  <h2 id="title-main" class="make-order__title-main visually-hidden">Сделать заказ</h2>
  <div class="make-order__content container">
    <h3 class="make-order__title-content">Чтобы сделать заказ, укажите ваш телефон</h3>
    <div class="make-order__info">Мы перезвоним в течении 15 минут, чтобы уточнить ваши пожелания</div>
    <form class="make-order__form">
      <div class="make-order__wrapper-form">
        <input class="make-order__phone" type="tel" placeholder="Номер телефона">
      </div>
    </form>
  </div>
</section>