@use '../../../styles/variables';
@use '../../../assets/scss/mixins';

.make-order {
  position: relative;
  background-color: variables.$midnight-blue;
  padding-top: 284px;
  padding-bottom: 80px;

  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 284px;
    top: 0;
    left: 0;
    background-image: url("../../../assets/images/raster/make-order-bg-top.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  &__content {
    position: relative;
    background-color: variables.$text-accent-color;
    border-radius: 8px;
    padding: 70px 99px;

    &::before {
      content: "";
      position: absolute;
      display: block;
      top: -100px;
      left: -115px;
      width: 147px;
      height: 142px;
      background-image: url("../../../assets/images/raster/make-order-leaf-small.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

    &::after {
      content: "";
      position: absolute;
      display: block;
      top: -100px;
      right: -115px;
      width: 211px;
      height: 213px;
      background-image: url("../../../assets/images/raster/make-order-berry-small.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }

  &__title {
    &-content {
      margin: 0 0 12px;
      font-size: clamp(1.25rem, 0.5833rem + 1.3889vw, 2.25rem);
      font-weight: 700;
      line-height: 133%;
      letter-spacing: 0;
      text-align: center;
    }
  }

  &__info {
    margin-bottom: 36.5px;
    text-align: center;
  }

  &__form {
    text-align: center;

    &::before {
      content: "";
      position: absolute;
      display: block;
      top: 280px;
      left: -150px;
      width: 238px;
      height: 237px;
      background-image: url("../../../assets/images/raster/make-order-berry-big.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

    &::after {
      content: "";
      position: absolute;
      display: block;
      top: 300px;
      right: -150px;
      width: 210px;
      height: 206px;
      background-image: url("../../../assets/images/raster/make-order-leaf-big.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }

  &__wrapper-form {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 25px;
  }

  &__phone {
    max-width: 380px;
    width: 100%;
    padding: 32px 58px;
    border-radius: 8px;
    line-height: 157%;
    border: none;
    background: url("../../../assets/images/vector/make-order-phone.svg") no-repeat, variables.$blueish-white;
    background-position-y: center;
    background-position-x: 31.5px;

    &::placeholder {
      color: variables.$cool-grey;
      font-size: 15px;
      font-weight: 400;
      letter-spacing: 0;
      text-align: left;
    }
  }

  &__submit {
    max-width: 380px;
    width: 100%;
    padding: 29px 41px;
    border: none;
    border-radius: 8px;
    background: variables.$orange;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0;
    text-align: center;
    cursor: pointer;

    &:hover {
      @include mixins.hover-button;
    }
  }

  &__checkmark {
    width: 12px;
    height: 12px;
    border-radius: 2px;
    background: variables.$sky-blue;
  }

  &__agreement {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    color: variables.$cool-grey;
    font-size: 11px;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 0;

    input:checked + .make-order__checkmark {
      background-image: url("../../../assets/images/vector/make-order-check.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }

    input {
      display: none;
    }
  }
}