<section class="reviews" aria-labelledby="title-main">
  <h2 id="title-main" class="reviews__title-main">Почитайте отзывы довольных клиентов</h2>
  <div>
    <app-swiper>
      <div class="swiper-slide">
        <div class=" reviews__swiper">
          <div class="reviews__swiper-column-left">
            <h3 class="reviews__title-review">«Результат дико порадовал, друзья были в восторге»</h3>
            <p class="reviews__text">«Заказала капкейки, как подарок на новый год. Делать заказ было легко и приятно, ну
              а
              результат дико
              порадовал, друзья были в восторге. И оформление, и на вкус капкейки были просто замечательные. Обязательно
              буду заказывать еще)) Уже строю планы, чтобы попробовать все начинки. Они восхитительны!) Даже кушать было
              жалко, такая красота!) </p>
            <a class="reviews__link" href="#">Читать отзыв полностью</a>
          </div>
          <div class="reviews__swiper-column-right">
            <div class="reviews__wrapper-img">
              <img src="./assets/images/raster/reviews-avatar.png" width="380" height="380" alt="Ирина Ларионова">
              <div class="reviews__user-name">Ирина Ларионова</div>
              <div class="reviews__user-city">Санкт-Петербург</div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class=" reviews__swiper">
          <div class="reviews__swiper-column-left">
            <h3 class="reviews__title-review">«Результат дико порадовал, друзья были в восторге»</h3>
            <p class="reviews__text">«Заказала капкейки, как подарок на новый год. Делать заказ было легко и приятно, ну
              а
              результат дико
              порадовал, друзья были в восторге. И оформление, и на вкус капкейки были просто замечательные. Обязательно
              буду заказывать еще)) Уже строю планы, чтобы попробовать все начинки. Они восхитительны!) Даже кушать было
              жалко, такая красота!) </p>
            <a class="reviews__link" href="#">Читать отзыв полностью</a>
          </div>
          <div class="reviews__swiper-column-right">
            <div class="reviews__wrapper-img">
              <img src="./assets/images/raster/reviews-avatar.png" width="380" height="380" alt="Ирина Ларионова">
              <div class="reviews__user-name">Ирина Ларионова</div>
              <div class="reviews__user-city">Санкт-Петербург</div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class=" reviews__swiper">
          <div class="reviews__swiper-column-left">
            <h3 class="reviews__title-review">«Результат дико порадовал, друзья были в восторге»</h3>
            <p class="reviews__text">«Заказала капкейки, как подарок на новый год. Делать заказ было легко и приятно, ну
              а
              результат дико
              порадовал, друзья были в восторге. И оформление, и на вкус капкейки были просто замечательные. Обязательно
              буду заказывать еще)) Уже строю планы, чтобы попробовать все начинки. Они восхитительны!) Даже кушать было
              жалко, такая красота!) </p>
            <a class="reviews__link" href="#">Читать отзыв полностью</a>
          </div>
          <div class="reviews__swiper-column-right">
            <div class="reviews__wrapper-img">
              <img src="./assets/images/raster/reviews-avatar.png" width="380" height="380" alt="Ирина Ларионова">
              <div class="reviews__user-name">Ирина Ларионова</div>
              <div class="reviews__user-city">Санкт-Петербург</div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class=" reviews__swiper">
          <div class="reviews__swiper-column-left">
            <h3 class="reviews__title-review">«Результат дико порадовал, друзья были в восторге»</h3>
            <p class="reviews__text">«Заказала капкейки, как подарок на новый год. Делать заказ было легко и приятно, ну
              а
              результат дико
              порадовал, друзья были в восторге. И оформление, и на вкус капкейки были просто замечательные. Обязательно
              буду заказывать еще)) Уже строю планы, чтобы попробовать все начинки. Они восхитительны!) Даже кушать было
              жалко, такая красота!) </p>
            <a class="reviews__link" href="#">Читать отзыв полностью</a>
          </div>
          <div class="reviews__swiper-column-right">
            <div class="reviews__wrapper-img">
              <img src="./assets/images/raster/reviews-avatar.png" width="380" height="380" alt="Ирина Ларионова">
              <div class="reviews__user-name">Ирина Ларионова</div>
              <div class="reviews__user-city">Санкт-Петербург</div>
            </div>
          </div>
        </div>
      </div>
    </app-swiper>
  </div>
  <div class="reviews__swiper-button">
    <button class="reviews__button-prev" aria-label="Предыдущий отзыв"></button>
    <button class="reviews__button-next" aria-label="Следующий отзыв"></button>
  </div>
</section>
