@use '../../../styles/variables' as variables;
@use '../../../assets/scss/mixins' as mixins;

.reviews {
  position: relative;
  background-color: variables.$midnight-blue;
  padding: 330px 0;

  &::before {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 330px;
    background-image: url("../../../assets/images/raster/reviews-bg-top.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    top: 0;
    left: 0;
  }

  &::after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 330px;
    background-image: url("../../../assets/images/raster/reviews-bg-bottom.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    bottom: 0;
    left: 0;
  }

  &__content {
    max-width: 1180px;
    width: 100%;
    position: relative;
    padding: 0;
    margin-bottom: 70px;
  }

  &__title {
    &-main {
      color: variables.$text-accent-color;
      font-size: 48px;
      font-weight: 500;
      line-height: 60px;
      letter-spacing: -1px;
      text-align: center;
      margin: 0 0 80px;
    }

    &-review {
      font-size: 30px;
      font-weight: 500;
      line-height: 143%;
      letter-spacing: 0;
      text-align: left;
      margin: 0 0 24px;
    }
  }

  &__text {
    max-width: 430px;
    width: 100%;
    font-size: 15px;
    font-weight: 400;
    line-height: 170%;
    letter-spacing: 0;
    text-align: left;
    margin: 0 0 24px;
  }

  &__link {
    color: variables.$sky-blue;
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0;
    text-align: left;
    text-underline-position: under;
    text-underline-offset: 1px;
    text-decoration: underline dashed;
  }

  &__swiper {
    max-width: 1180px;
    width: 100%;
    display: flex;
    position: relative;
    overflow: visible;
    justify-content: space-between;
    gap: 54px;
    border: 2px solid variables.$arctic-frost;
    border-radius: 5px;
    box-shadow: 2px 8px 16px 0 variables.$frosted;
    background: variables.$text-accent-color;
    padding: clamp(1.5rem, 0.4767rem + 3.2486vw, 4.375rem) clamp(0.9375rem, -21.6601rem + 25.498vw, 8.9375rem);
    margin: 0 auto 70px;

    &-column {
      &-left {
        max-width: 460px;
        width: 100%;
        padding-top: 64px;
      }

      &-right {
        flex-shrink: 0;
      }
    }

    &-button {
      display: flex;
      gap: 23.86px;
      justify-content: center;
    }

    &::before {
      content: '';
      display: block;
      position: absolute;
      width: 40px;
      height: 40px;
      background-image: url("../../../assets/images/raster/reviews-decorate-1.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }



  }

  &__wrapper-img {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      display: block;
      width: 100%;
      height: auto;
      margin-bottom: 30px;
    }
  }

  &__user {
    &-name {
      max-width: 210px;
      width: 100%;
      margin-bottom: 6px;
      font-size: 21px;
      font-weight: 500;
      line-height: 143%;
      letter-spacing: 0;
      text-align: center;
    }

    &-city {
      max-width: 143px;
      width: 100%;
      color: variables.$stone;
      font-size: 16px;
      font-weight: 400;
      line-height: 170%;
      letter-spacing: 0;
      text-align: center;
    }
  }

  &__button {
    &-prev, &-next {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 66px;
      height: 66px;
      border-radius: 50%;
      background-color: variables.$orange;
      cursor: pointer;

    }

    &-prev::before, &-next::before {
      content: '';
      display: block;
      width: 15px;
      height: 25px;
    }

    &-prev::before {
      background-image: url("../../../assets/images/vector/reviews-arrow-preview.svg");
    }

    &-prev:hover {
      background-color: variables.$text-main-color;

      &::before {
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 15.2024 24.7482' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='15.202393' height='24.748169' fill='none' customFrame='%23000000'%3E%3Cpath id='arrow' d='M13.1942 2.00818L2.82837 12.374L13.1942 22.7399' stroke='rgb(255 255 255 / 100%)' stroke-linecap='round' stroke-width='4' /%3E%3C/svg%3E");
      }
    }

    &-next::before {
      background-image: url("../../../assets/images/vector/reviews-arrow-next.svg");
    }

    &-next:hover {
      background-color: variables.$text-main-color;

      &::before {
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 15.2024 24.7482' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='15.202393' height='24.748169' fill='none' customFrame='%23000000'%3E%3Cpath id='arrow' d='M10.3659 0L0 10.3659L10.3659 20.7317' stroke='rgb(255 255 255 / 100%)' stroke-linecap='round' stroke-width='4' transform='matrix(-1,0,0,1,12.374,2.00818)' /%3E%3C/svg%3E%0A");
      }
    }
  }
}

.swiper-slide-active .reviews__swiper {
  &::after {
    content: '';
    display: block;
    position: absolute;
    width: 152px;
    height: 156px;
    background-image: url("../../../assets/images/raster/reviews-berry.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    top: -25px;
    right: -100px;
  }
}

.swiper-slide-prev, .swiper-slide-next {
  opacity: 0.5;
  scale: 0.8;
  flex-shrink: 0;
}