@use '../../../styles/variables' as variables;

.header-main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: variables.$text-accent-color;

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 37px;
    padding-bottom: 37px;
  }

  &__logo-link {
    text-decoration: none;
    color: variables.$text-accent-color;
    font-size: clamp(1.125rem, 1rem + 0.2604vw, 1.3125rem);
    font-weight: 500;
    line-height: 143%;
    letter-spacing: 0;
    text-align: left;
  }

  &__info {
    display: flex;
    align-items: center;
    gap: 70px;
  }

  &__address {
    display: flex;
    align-items: center;
    gap: 12px;
    width: 151px;
    font-style: normal;
    font-size: 12px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0;
    text-align: left;

    &::before {
      content: '';
      display: block;
      width: 17px;
      height: 17px;
      background-image: url('../../../assets/images/vector/header-address-icon.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      flex-shrink: 0;
    }
  }

  &__phone {
    color: variables.$text-accent-color;

    &-link {
      display: flex;
      align-items: center;
      gap: 15px;
      color: variables.$text-accent-color;
      text-decoration: none;
      font-size: clamp(0.875rem, 0.5833rem + 0.6076vw, 1.3125rem);
      font-weight: 700;
      line-height: 155%;
      letter-spacing: 0;
      text-align: left;

      &::before {
        content: '';
        display: block;
        width: 19px;
        height: 19px;
        background-image: url('../../../assets/images/vector/header-phobe-icon.svg');
      }
    }

    &-text {
      margin: 0;
      font-size: clamp(0.5625rem, 0.3958rem + 0.3472vw, 0.8125rem);
      font-weight: 400;
      line-height: 154%;
      letter-spacing: 0;
      text-align: center;
    }
  }
}
