<header class="header-main" role="banner">
  <div class="header-main__content container">
    <a class="header-main__logo-link" href="#">
      Сладкий сундук
    </a>
    <div class="header-main__info">
      <address class="header-main__address">
        г. Санкт Петербург, ул. Куйбышева 31
      </address>
      <div class="header-main__phone">
        <a class="header-main__phone-link" href="tel:88128449549">8 (812) 844-95-49</a>
        <p class="header-main__phone-text">Ежедневно с 9:00 до 20:00</p>
      </div>
    </div>
  </div>
</header>
