<section class="hero" aria-labelledby="hero-title">
  <h1 id="hero-title" class="hero__title-main visually-hidden">Пирожные и капкейки</h1>
  <div class="hero__content container">
    <div class="hero__title-top">вкуснейшие</div>
    <h2 class="hero__title-content">
      Пирожные и капкейки от 150 ₽/шт. с доставкой по Санкт Петербургу
    </h2>
    <p class="hero__text">Приготовим за 3 часа в день заказа. Доставка на авто в холодильнике.</p>
    <div class="hero__wrapper">
      <a class="hero__link" href="#">Перейти в каталог</a>
      <span>9 различных видов на выбор</span>
    </div>
  </div>
</section>
